[kdcdefaults]
 kdc_ports = 88
 kdc_tcp_ports = 88

[realms]
{% for realm in kdc_realms %}
 {{realm.domain_uc}} = {
  acl_file = /var/kerberos/krb5kdc/kadm5.acl
  dict_file = /usr/share/dict/words
  admin_keytab = /var/kerberos/krb5kdc/kadm5.keytab
 }
{% endfor %}